{% extends "base/base.html" %}
{% load static %}

{% block content %}
<!-- Hero Section -->
<section id="hero" class="hero section dark-background">

  <div class="hero-container">

    <div class="overlay"></div>

    <div class="container">
      <div class="row align-items-center">

        <div class="col-lg-7" data-aos="zoom-out" data-aos-delay="100">
          <div class="hero-content">

            <h2 class="display-6 fw-bold mb-4 "> برنامج وطني لدعم الإدماج الاجتماعي والاقتصادي </h2>

            <p>
              برنامج وطني للتحسيس، التنشيط والمرافقة،
              يهدف إلى دعم الأشخاص ذوي التحديات الاجتماعية وتمكينهم من إنشاء نشاطات مصغرة
              عبر كامل التراب الوطني.
            </p>

            <div class="cta-buttons">
              <a href="#about" class="btn-primary">ابدأ الآن</a>
              <a href="{% url 'register' %}" class="btn-secondary">التسجيل</a>
            </div>

          </div>
        </div>

        <div class="col-lg-5" data-aos="zoom-out" data-aos-delay="200">
          <img src="{% static 'assets/img/logo.png' %}" alt="" class="img-fluid hero-logo">
        </div>

      </div>
    </div>

  </div>

</section><!-- /Hero Section -->




 <!-- Events Section -->
    <section id="events" class="events section">

      

      <div class="container" data-aos="fade-up" data-aos-delay="100">

      

       <div class="row g-4">

  <!-- Card 1 -->
  <div class="col-lg-6">
    <div class="event-card d-flex align-items-center gap-3 p-3">

      <!-- Image -->
      <div class="event-logo">
        <img src="{% static 'assets/img/mkesm.png' %}" alt="MKESM" width="80">
      </div>

      <!-- Content -->
      <div class="event-content">
        <h3 class="mb-1">
          وزارة اقتصاد المعرفة والمؤسسات الناشئة والمؤسسات المصغرة
        </h3>
        <a href="https://mkesm.gov.dz/" target="_blank" style="text-decoration: none; color: #45b08e; font-weight: 700; font-size: 20px;">mkesm.dz</a>
      </div>

    </div>
  </div>

  <!-- Card 2 -->

   <div class="col-lg-6">
    <div class="event-card d-flex align-items-center gap-3 p-3">

      <!-- Image -->
      <div class="event-logo">
        <img src="{% static 'assets/img/angem.png' %}" alt="ANGEM" width="80">
      </div>

      <!-- Content -->
      <div class="event-content">
        <h3 class="mb-1">
                الوكالة الوطنية لتسيير القرض المصغر
        </h3>
        <a href="https://www.angem.dz/fr/" target="_blank" style="text-decoration: none; color: #45b08e; font-weight: 700; font-size: 20px;">angem.dz</a>
      </div>

    </div>
  </div>
 

</div>

     

      </div>

    </section><!-- /Events Section -->



<!-- About Section -->
<section id="about" class="about section">

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row mb-5 ">
      <div class="col-lg-6 pe-lg-5" data-aos="fade-right" data-aos-delay="200">
        <h2 class="display-6 fw-bold mb-4 ">حول برنامج <span>تمكين</span></h2>
        <p class="lead mb-4">برنامج تمكين هو برنامج تحسيس ، تنشيط ومرافقة موجه الى الأشخاص الذين يواجهون تحديات
          اجتماعية
          عبركل ربوع الوطن ، يهدف الى نشر و تعميم المعلومات الأساسية لخلق نشاط مصغر عن طريق المرافقة
          الجوارية.
          <br><br>
          صمم برنامج تمكين وفق مقاربة تسمح لهذه الفئة بالولوج الى المعلومة الازمة عن طريق تحسيس، تنشيط
          و مرافقة، مختلفة تماما عن الطريقة النمطية، تلبي حاجيات الفئات المستهدفة، من خلال
        </p>


      </div>
      <div class="col-lg-6" data-aos="fade-left" data-aos-delay="300">

        <div class="about-image-wrapper">

          <img src="{% static 'assets/img/about2.jpeg' %}"  alt="About Program"
            class="img-fluid rounded-4 shadow-lg about-img">

        </div>

      </div>
    </div>

    <div class="row mission-vision-row g-4">
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
        <div class="value-card h-100">
          <div class="card-icon">
            <!-- <i class="bi bi-star"></i> -->
            <!-- <img src="{% static 'assets/img/tahsis.png' %}" alt=""> -->
            <div class="icone"><i class="bi bi-megaphone"></i></div>
          </div>
          <h3>التحسيس</h3>
          <p>حملات تحسيسية جوارية
            تهدف إلى ترقية الحس
            المقاولاتي</p>
        </div>
      </div>

      <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
        <div class="value-card h-100">
          <div class="card-icon">
            <!-- <i class="bi bi-eye"></i> -->
            <!-- <img src="{% static 'assets/img/tanchit.png' %}" alt=""> -->
            <div class="icone"><i class="fa-solid fa-chalkboard-teacher"></i></div>
          </div>
          <h3 style="color:var(--azzur-color) ;">التنشيط</h3>
          <p>محتوى سلس يعتمد على
            عروض و انشطة عملية
            تتناسب مع الفئة
            المستهدفة.</p>
        </div>
      </div>

      <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
        <div class="value-card h-100">
          <div class="card-icon">
            <!-- <i class="bi bi-rocket-takeoff"></i> -->

            <!-- <img src="{% static 'assets/img/morafaqa.png' %}" alt=""> -->
            <i class="fa-solid fa-hands-helping"></i>
          </div>
          <h3 style="color:var(--title-color) ;">المرافقة</h3>
          <p>مرافقة جوارية، شخصية و تفاعلية ، و التي من شانها تقليل الصعوبات الادارية</p>
        </div>
      </div>

    </div>

  </div>

</section><!-- /About Section -->


<!-- caracteristique -->
<section id="features" class="recent-news section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>مميزات برنامج تمكين </h2>
    <p>يتميز تمكين عن غيره من برامج التحسيس ، التنشيط و المرافقة بمايلي :</p>
  </div><!-- End Section Title -->

  <div class="container">

    <div class="row gy-4">

      <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <article>

          <div class="post-img">
            <img src="{% static 'assets/img/morafaqa2.jfif' %}" alt="" class="img-fluid">
          </div>

          <!-- <p class="post-category">التحسيس و المرافقة الشخصية للفئات المستهدفة</p> -->

          <h2 class="title">
            <a href="blog-details.html">التحسيس و المرافقة الشخصية للفئات المستهدفة</a>
          </h2>

          <div class="d-flex align-items-center mb-3">
            <!-- <img src="{% static 'assets/img/tahsis1.jpg' %}" class="post-author-img flex-shrink-0" alt=""> -->
            <i class="bi bi-check-circle-fill icone fs-5 me-2 mt-1" style="margin-left:12px;"></i>
            <div class="post-meta ms-3">
              <p class="post-author">تضيف بعدا
                مستداما لتحصيل
                المكتسبات.</p>

            </div>
          </div>

          <div class="d-flex align-items-center mb-3">
            <!-- <img src="{% static 'assets/img/tahsis2.jpg' %}" class="post-author-img flex-shrink-0" alt=""> -->
            <i class="bi bi-check-circle-fill icone fs-5 me-2 mt-1" style="margin-left:12px;"></i>
            <div class="post-meta ms-3">
              <p class="post-author">تأخذ بعين الاعتبار التحديات
                الاجتماعية ، الثقافية و
                الخصوصيات المحلية.</p>

            </div>
          </div>

          <div class="d-flex align-items-center">
            <!-- <img src="{% static 'assets/img/tahsis3.jpg' %}" class="post-author-img flex-shrink-0" alt=""> -->
            <i class="bi bi-check-circle-fill icone fs-5 me-2 mt-1" style="margin-left:12px;"></i>
            <div class="post-meta ms-3">
              <p class="post-author">متاحة و سهلة الولوج كون
                المرافق هو الذي يتنقل وليس
                العكس، من خلال لقاءات و
                حملات منتظمة.</p>

            </div>
          </div>



        </article>
      </div><!-- End post list item -->

      <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <article>

          <div class="post-img">
            <img src="{% static 'assets/img/chomouliya.jfif' %}" alt="" class="img-fluid">
          </div>

          <!-- <p class="post-category">Sports</p> -->

          <h2 class="title">
            <a href="#">الشمولية</a>
          </h2>

          <div class="d-flex align-items-center mb-3">
            <!-- <img src="{% static 'assets/img/chomoliya1.jpg' %}" alt="" class="img-fluid post-author-img flex-shrink-0"> -->
            <i class="bi bi-check-circle-fill icone fs-5 me-2 mt-1"></i>
            <div class="post-meta ms-3">
              <p class="post-author"> متاح لجميع المشاركين بغضّ النظر عن الخلفية، النوع، العمر، التعليم أو الموقع.
              </p>

            </div>
          </div>
          <div class="d-flex align-items-center mb-3">
            <!-- <img src="{% static 'assets/img/chomouliya2.jpg' %}" alt="" class="img-fluid post-author-img flex-shrink-0"> -->
            <i class="bi bi-check-circle-fill icone fs-5 me-2 mt-1"></i>
            <div class="post-meta ms-3">
              <p class="post-author"> برنامج مرن يقدّم مقاربات بيداغوجية متنوّعة حسب حاجات المستفيدين. </p>

            </div>
          </div>
          <div class="d-flex align-items-center mb-3">
            <!-- <img src="{% static 'assets/img/choumouliya3.jpg' %}" alt="" class="img-fluid post-author-img flex-shrink-0"> -->
            <i class="bi bi-check-circle-fill icone fs-5 me-2 mt-1"></i>
            <div class="post-meta ms-3">
              <p class="post-author">يراعي الاختلاف بين الجنسين ويضمن وصولًا متكافئًا للمعلومة.
              </p>

            </div>
          </div>
          <div class="d-flex align-items-center">
            <!-- <img src="{% static 'assets/img/langue.jpg' %}" alt="" class="img-fluid post-author-img flex-shrink-0"> -->
            <i class="bi bi-check-circle-fill icone fs-5 me-2 mt-1"></i>
            <div class="post-meta ms-3">
              <p class="post-author">يراعي التنوع اللغوي والثقافي باعتماد العربية، الأمازيغية والفرنسية.
              </p>

            </div>
          </div>

        </article>
      </div><!-- End post list item -->

      <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <article>

          <div class="post-img">
            <img src="{% static 'assets/img/ta3alom.jpg' %}" alt="" class="img-fluid">
          </div>

          <!-- <p class="post-category">Entertainment</p> -->

          <h2 class="title">
            <a href="blog-details.html">التعلم التفاعلي</a>
          </h2>

          <div class="d-flex align-items-center">
            <!-- <img src="{% static 'assets/img/tafa3oul.jpg' %}" alt="" class="img-fluid post-author-img flex-shrink-0"> -->
            <i class="bi bi-check-circle-fill icone fs-5 me-2 mt-1"></i>
            <div class="post-meta ms-3">
              <p class="post-author">أنشطة تفاعلية وتطبيقية تشجع
                المشاركين على استغلال تجاربهم
                الشخصية والتعلم من محيطهم .</p>

            </div>
          </div>

        </article>
      </div><!-- End post list item -->

    </div><!-- End recent posts list -->

  </div>

</section><!-- /Recent News Section -->



<!-- Students Life Block Section -->
<section id="program" class="students-life-block section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>برنامج تمكين</h2>
    <p>رحلة المستفيد داخل برنامج التحسيس، التنشيط والمرافقة</p>
  </div>

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row align-items-center gy-4">

      <!-- IMAGE -->
      <div class="col-lg-6" data-aos="fade-right" data-aos-delay="200">
        <div class="students-life-img position-relative">
          <img src="{% static 'assets/img/tamkin3.png' %}" class="img-fluid rounded-4 shadow-sm" alt="Tamkin Program"
            style="height: 400px;">


        </div>
      </div>

      <!-- CONTENT -->
      <div class="col-lg-6" data-aos="fade-left" data-aos-delay="300">

        <div class="students-life-content">

          <div class="row g-4 mb-4">

            <!-- Sensibilisation -->
            <div class="col-md-6" data-aos="zoom-in" data-aos-delay="200">
              <div class="student-activity-item">
                <div class="icon-box">
                  <i class="bi bi-mortarboard"></i>
                </div>
                <h4>تكوين</h4>
                <p> تدريب  تهدف إلى تطوير مهارات ومعارف الأفراد لرفع كفاءتهم في مجال في المجال المقاولاتية.</p>
              </div>
            </div>

            <!-- Animation -->
             <div class="col-md-6" data-aos="zoom-in" data-aos-delay="400">
              <div class="student-activity-item">
                <div class="icon-box">
                  <i class="fa-solid fa-hands-helping"></i>
                </div>
                <h4>مرافقة</h4>
                <p>دعم ميداني وشخصي لتسهيل إنشاء المشاريع المصغرة.</p>
              </div>
            </div>

            <!-- Support -->

              <div class="col-md-6" data-aos="zoom-in" data-aos-delay="300">
              <div class="student-activity-item">
                <div class="icon-box">
                   <i class="bi bi-cash-stack"></i>
                </div>
                <h4>تمويل</h4>
                <p> توفير الموارد المالية اللازمة لدعم مشروع أو نشاط من أجل تحقيق أهداف معينة.</p>
              </div>
            </div>
         

            <!-- Inclusion -->
            <div class="col-md-6" data-aos="zoom-in" data-aos-delay="500">
              <div class="student-activity-item">
                <div class="icon-box">
                    <i class="bi bi-graph-up-arrow"></i>
                </div>
                <h4> متابعة </h4>
                <p>عملية مراقبة وتقييم سير عمل أو مشروع بشكل مستمر لضمان تحقيق الأهداف  .</p>
              </div>
            </div>

          </div>

         

        </div>

      </div>

    </div>

  </div>

</section><!-- /Students Life Block Section -->







<section id="faq" class="faq section">

  <div class="container section-title" data-aos="fade-up">
    <h2>الأسئلة الشائعة</h2>
    <p>أهم الأسئلة التي يطرحها المستفيدون حول برنامج تمكين</p>
  </div>

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row align-items-center g-5">

      <!-- FAQ -->
      <div class="col-lg-8">

        <div class="faq-box">

          <div class="accordion" id="faqAccordion">

            <!-- ITEM -->
            <div class="accordion-item faq-item">
              <h2 class="accordion-header">
                <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#faq1">
                  من يمكنه الاستفادة من برنامج تمكين؟
                </button>
              </h2>
              <div id="faq1" class="accordion-collapse collapse show" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                  البرنامج موجه للأشخاص الذين يواجهون تحديات اجتماعية ويرغبون في إنشاء نشاط مصغر.
                </div>
              </div>
            </div>

            <div class="accordion-item faq-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq2">
                  هل البرنامج مجاني؟
                </button>
              </h2>
              <div id="faq2" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                  نعم، برنامج تمكين هو برنامج وطني مجاني.
                </div>
              </div>
            </div>

            <div class="accordion-item faq-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq3">
                  كيف يمكنني التسجيل؟
                </button>
              </h2>
              <div id="faq3" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
             التسجيل يتم عبر المنصة
                </div>
              </div>
            </div>

            <div class="accordion-item faq-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq4">
                 هل البرنامج يقدم تمويل للمشاريع؟
                </button>
              </h2>
              <div id="faq4" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
           البرنامج يركز أساساً على المرافقة والتوجيه. أما التمويل فيتم  
                عبر الوكالة الوطنية لتسيير القرض المصغر او عبر شراكات او برامج دعم اخرى .
                </div>

              </div>
            </div>

          </div>

        </div>

      </div>

      <!-- IMAGE -->
      <div class="col-lg-4 text-center" data-aos="zoom-in">
        <img src="{% static 'assets/img/questions.png' %}" class="img-fluid faq-img" alt="">
      </div>

    </div>

  </div>

</section>



<!-- Contact Section -->
<section id="contact" class="contact section" style="background-color: white;">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>إتصل بنا</h2>
    <p>لا تتردد في الاتصال بنا إذا كان لديك أي استفسارات</p>
  </div><!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row gy-4">

      <div class="col-lg-6">

        <div class="row gy-4">
          <div class="col-md-6">
            <div class="info-item text-center" data-aos="fade" data-aos-delay="200">
              <i class="bi bi-geo-alt"></i>
              <h3>العنوان</h3>
              <p>
طريق الشريف عمر، الجزائر الوسطى 16000، الجزائر</p>
             
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item text-center" data-aos="fade" data-aos-delay="300">
              <i class="bi bi-telephone"></i>
              <h3>رقم الهاتف</h3>
              <p style="direction: ltr;">+213 23 50 63 46</p>
             
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-12">

            <div class="info-item text-center mx-auto" style="max-width: 350px;" data-aos="fade" data-aos-delay="400">

              <i class="bi bi-envelope"></i>
              <h3>البريد الالكتروني</h3>
              <p> <a href="mailto:dsi@mkesm.gov.dz" style="text-decoration: none; color: #45b08e; font-weight: 700; font-size: 15px;">dsi@mkesm.gov.dz</a></p>

            </div>

          </div><!-- End Info Item -->



        </div>

      </div>

      <div class="col-lg-6">
        <form action="{% url 'index' %}" method="post" class="email-form" data-aos="fade-up" data-aos-delay="200", >
          {% csrf_token %}
          <div class="row gy-4">

            <div class="col-md-6">
              {{ contactForm.name }}
            </div>

            <div class="col-md-6 ">
              {{ contactForm.email }}
            </div>

            <div class="col-12">
              {{ contactForm.subject }}
            </div>

            <div class="col-12">
              {{ contactForm.message }}
            </div>

            <div class="col-12 text-center">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>

              <button type="submit">ارسل الان</button>
            </div>

          </div>
        </form>
      </div><!-- End Contact Form -->

    </div>

  </div>

</section><!-- /Contact Section -->



{% endblock %}

